/* Container and Product Card */

.container .row {
    flex-wrap: inherit;
    align-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px;
}


/* Reviews Section */

.reviews {
    margin-left: 10px;
}

.ratings {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.reviews {
    text-decoration: underline;
}


/* Product Image */

.slick-slide img {
    display: block;
    margin-right: 5px;
}


/* New Tag on Product Image */

.new-tag {
    width: 50px;
    right: 10px;
    position: absolute;
    top: 0;
}


/* Product Title and Price */

.content {
    padding: 0 25px;
    height: 50px;
}

.compare-price {
    text-decoration: line-through;
}

.main-price {
    color: #F3436C;
    margin-left: 10px;
}


/* Add to Cart Button */

button.cart-btn {
    background-color: #F3436C !important;
    border: none !important;
    width: 100%;
    box-shadow: none !important;
    height: 45px;
}

@media only screen and (max-width: 600px) {
    button.cart-btn {
        width: 90%;
    }
}

button.cart-btn:active,
button.cart-btn:focus,
button.cart-btn:hover {
    background-color: #F3436C !important;
    border: none !important;
    width: 100%;
    box-shadow: none !important;
}


/* Shop Now Button */

button.shop-btn,
button.shop-btn:active,
button.shop-btn:focus,
button.shop-btn:hover {
    border: 2px solid #F4436C !important;
    color: #F4436C;
    padding: 10px 40px;
    border-radius: 5px;
    box-shadow: none;
}


/* Prev - Next Arrows */

.slick-arrow {
    height: fit-content;
    border: none;
    background-color: transparent;
}

.slick-prev:before {
    content: "<";
    color: #F3436C;
    font-size: 35px;
}

.slick-next:before {
    content: ">";
    color: #F3436C;
    font-size: 35px;
}

button.slick-prev.slick-arrow {
    position: absolute;
    top: 30%;
    z-index: 9;
}

button.slick-next.slick-arrow {
    position: absolute;
    right: 0;
    top: 30%;
}